/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    quick-tap-ms = <135>;
    tapping-term-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
         &kp Q               &kp W           &kp E         &kp R  &kp T          &kp Y    &kp U            &kp I       &kp O                &kp P                    
         &mt LEFT_SHIFT A    &kp S           &kp D         &kp F  &kp G          &kp H    &kp J            &kp K       &kp L                &mt LEFT_SHIFT SEMICOLON  
         &mt LEFT_CONTROL Z  &mt LEFT_ALT X  &kp C         &kp V  &kp B          &kp N    &kp M            &kp COMMA   &mt LEFT_ALT PERIOD  &mt LCTRL SLASH           
                                      &mo 1  &lt 3 SPACE    &kp RET  &lt 2 BACKSPACE 
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Tri {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
